<div class="container">
  <nav class="navbar">
    <div class="nav-logo">
      <a href="#home">
        <img src="/logo-light.png" alt="Logo" />
      </a>
    </div>

    <div class="nav-name" onClick="window.location.reload()">
      <span class="tag-color">&lt;</span>
      <span class="tag-name">RavikGanguly</span>
      <span class="hover-content">
        <span class="attribute-color">&nbsp;alias</span>
        <span class="equals-color">=</span>
        <span class="value-color">"thegravityguy"</span>
        <span class="attribute-color"> onClick</span>
        <span class="equals-color">=</span>
        <span class="value-color">&lbrace;reload&rbrace;</span>
      </span>
      <span class="tag-color closing-tag">&nbsp;/&gt;</span>
    </div>

    <div class="nav-items">
      <a href="#about" class="nav-item">ABOUT</a>
      <a href="#services" class="nav-item">SERVICES</a>
      <a href="#projects" class="nav-item">PROJECTS</a>
      <a href="#experience" class="nav-item">EXPERIENCE</a>
      <a href="#blog" class="nav-item">BLOG</a>
    </div>
  </nav>
</div>

<style>
  .container {
    width: 100%;
    height: 100%;
    display: grid;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
    height: 80px;
    background: var(--accent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    z-index: 100;
  }

  .nav-logo {
    width: 32%;
    cursor: pointer;
  }

  .nav-logo img {
    height: 30px;
    width: auto;
  }

  .nav-name {
    font-size: 1rem;
    cursor: pointer;
    transition: opacity 0.3s ease;
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
  }

  .hover-content {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in;
  }

  .nav-name:hover .hover-content {
    animation: typing-in 1.5s steps(30) forwards;
    opacity: 1;
  }

  .nav-name:not(:hover) .hover-content {
    animation: typing-out 1s steps(30) forwards;
    opacity: 0;
    transition: opacity 2s ease-out;
  }

  @keyframes typing-in {
    from {
      width: 0;
    }
    to {
      width: 65%;
    }
  }

  @keyframes typing-out {
    from {
      width: 65%;
    }
    to {
      width: 0;
    }
  }

  .tag-color {
    color: var(--bg-primary);
  }
  .tag-name {
    color: var(--bg-primary);
  }
  .attribute-color {
    color: var(--bg-primary);
  }
  .equals-color {
    color: var(--bg-primary);
  }
  .value-color {
    color: var(--highlight);
  }

  .nav-items {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    width: 32%;
  }

  .nav-item {
    position: relative;
    color: var(--bg-primary);
    text-decoration: none;
    font-size: 0.75rem;
  }

  .nav-item::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0px;
    width: 0;
    height: 6px;
    background: var(--highlight);
    transform: skewX(-30deg);
    transition: width 0.4s ease-in-out;
  }

  .nav-item:hover::after {
    width: 100%;
  }
</style>
