---
import Loader from '../components/Loader.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title?: string;
}

const { title = 'Ravik Ganguly' } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Loader />
    <main>
      <Navbar />
      <slot />
      <Footer />
    </main>
  </body>
</html>

<style is:global>
  :root {
    --accent: #fa4a2d;
    --highlight: #f1fa8c;
    --bg-primary: #fedebe;
  }

  @font-face {
    font-family: 'Butler';
    src: url('/fonts/Butler_Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Butler';
    src: url('/fonts/Butler_ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Butler';
    src: url('/fonts/Butler_Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Butler';
    src: url('/fonts/Butler_Medium.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Butler';
    src: url('/fonts/Butler_Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Butler';
    src: url('/fonts/Butler_Light.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Butler';
    src: url('/fonts/Butler_Ultra_Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  html {
    font-family: Outfit;
    background-color: var(--bg-primary);
    color: #ccd6f6;
  }

  body {
    margin: 0;
    padding: 0;
  }

  main {
    min-height: 100vh;
    padding-top: 70px; /* This matches the navbar height */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  html {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>
